body {
    background-color:black;
    color: rgb(255, 255, 255);
    /* font-family: 'Press Start 2P', cursive; */
    margin: 0px;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

div.fixed {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    display: none;

}

header{
    background-color: #000000;
    color: #000000; 
    margin: 0px;
    text-align: center;
}
.welcome{
    width: 135px;
    height: 35px;
    font-size: 20px;
}
menu {
    /* overflow: hidden; */
    /* background-color:#eeeeeeec; */
    /* text-align: up; */
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    background-color: red;
    float: right;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.modal-dialog{
    margin: 70px auto;
    /* padding: 20px; */
    background: rgb(94, 92, 92);
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
}
.modal-content{
    /* margin: 70px auto; */
    padding: 25px;
    background: rgb(94, 92, 92);
    border-radius: 5px;
    /* width: 30%; */
    /* position: relative; */
    transition: all 5s ease-in-out;

}
.btn7{
    background: rgb(175, 173, 173);
    border-radius: 5px;
}
.btn7:hover,
  .btn7:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
footer {
  position: bottom;
  padding: 15px;
  text-align: center;
  font-size: 13px;
  margin-top: 576px;

}
.left_s {
  float:left; 
  background:Red;
  width:20%;
  
}
.center_s{
  float:left; 
  width:60%;
}
.right_s{
  float:right;
  background:blue;
  width:20%;
}

span{
  color: red;
  margin-left: 5px;
}


