body {
    background-color: #fffdfd;
    color: rgb(5, 5, 5);
    /* font-family: 'Press Start 2P', cursive; */
    margin: 0px;
}

div.fixed {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    display: none;

}

header{
    background-color: #000000;
    color: #000000; 
    margin: 0px;
    text-align: center;
}
.welcome{
    width: 135px;
    height: 35px;
    font-size: 20px;
}