body {
    background-color:black;
    color: rgb(255, 255, 255);
    /* font-family: 'Press Start 2P', cursive; */
    margin: 0px;
}
canvas{
  border-radius:5px;
  border:white solid;
}
.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}
h1 {
  font-family: Georgia, sans-serif;
  font-size: 5em;
  /* letter-spacing: -2px; */
  color: #F7CA18;
}
h2 {
  font-family:'Lobster', cursive;
  /* font-family: Georgia, sans-serif; */
  /* font-size: 5em; */
  /* letter-spacing: -2px; */
  color: #F7CA18;
}
h3 {
  font-family: Georgia, sans-serif;
  /* font-size: 5em; */
  /* letter-spacing: -2px; */
  color: #F7CA18;
}
.fixed {
    /* position: absolute; */
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    display: none;

}

header{
    background-color: #000000;
    color: #000000; 
    margin: 0px;
    text-align: center;
}
.welcome{
    width: 135px;
    height: 35px;
    font-size: 20px;
}
.menu {
    /* overflow: hidden; */
    /* background-color:#eeeeeeec; */
    /* text-align: up; */
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;

}
ul {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    justify-content: space-evenly;
  }
  
  li {
    /* float: left; */
  }
  
  li a {
    display: block;
    color: white;
    color: #F7CA18;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    color: white;

  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    background-color: rgb(238, 204, 9);
    float: right;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.modal-dialog{
    margin: 70px auto;
    /* padding: 20px; */
    background: rgb(94, 92, 92);
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
}
.modal-content{
    /* margin: 70px auto; */
    padding: 25px;
    background: rgb(94, 92, 92);
    border-radius: 5px;
    /* width: 30%; */
    /* position: relative; */
    transition: all 5s ease-in-out;

}
.btn7{
    background: rgb(175, 173, 173);
    border-radius: 5px;
}
.btn7:hover,
  .btn7:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
footer {
  position: bottom;
  padding: 15px;
  text-align: center;
  font-size: 13px;
  /* margin-top: 576px; */

}
.left_s {
  float:left; 
  background:rgb(15, 15, 15);
  width:20%;
  border-radius:5px;

  
}
.center_s{
  float:left; 
  width:60%;
}
.right_s{
  float:right;
  background:blue;
  width:20%;
}

span{
  color: red;
  margin-left: 5px;
}
/* #menu{
  display: flex;
  align-items: center;
  width: 100%;
} */
/* Thar Buttons */

a.animated-button.thar-one {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  width:250px;
}
a.animated-button.thar-one:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}
a.animated-button.thar-one:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
a.animated-button.thar-one:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  width:250px;
}
a.animated-button.thar-two:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: ntwo;
}
a.animated-button.thar-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
a.animated-button.thar-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-three {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

}
a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

}
a.animated-button.thar-four {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

}
a.animated-button.thar-four:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
}
a.animated-button.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
a.animated-button.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
